.bgcolour{
background: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#bgimage{
background-image: url(/image/topback.jpg);
background-position: center;
background-size: cover;
position: relative;
height: 1000px;
width: 100%;
}
.navtext{
    font-weight: 100;
    font-size: 16px;
}

#container {
    width: 100px;
    height: 100px;
    position: relative;
  }
  #blacksheet{
    background-color: #000;
    opacity: 70%;
  }
  #blacksheet,
  #infoi {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
  }
  #infoi {
    z-index: 10;
  }

  
.blackop{
    text-align: center;
    background-color: black;
    height: 1000px;
    opacity: 50%;
    z-index: 1;
}
.blacktext{
 position: absolute;
 z-index: -1;
}
.profile{
    
    text-align: center;
    padding-top: 225px;
}

.name{
    font-size:64px;
    font-weight:600;
    letter-spacing: 7px;
    text-align: center;
    color: white;
    padding-top: 32px;
}
.name_2{
    font-size:32px;
    font-weight:600;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    padding-bottom: 32px;
}
/* .button{

   text-align: center;   
    border: white;
    opacity: 60%;
    border-width: .5px;
    border-style: solid;

    border-radius: 20;
    margin-left: 45%;
    width: 200px;
    
}
.button:hover{

    background-color: blue;
    text-decoration: none;
}
.button p{

    font-size: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
 
}
.getin{
    text-align: center;
} */
.space{
    text-align: center;
}
.button {
    border-radius: 4px;
    
    background-color: transparent;
    border: white;
    opacity: 80%;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }





  #about{
    padding: 100px 0;
    color: #000000;
  

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
margin-top: 24px;
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 10px;
}
.about-col-2{
    flex-basis: 60%;
    font-size: 24px;

}
.about-col-2-p2{
   
    font-size: 32px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.aboutcontent{
    font-weight: 400;
}
.aboutcontent span{
    font-size: 32px;
    font-weight: 500PX;
}

#basic{
    padding: 100px 0;
    color: #000;
}

.card-title{
    font-size: 60px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
   
}

.leftcard-text{
    line-height: 49px;
    font-size: 24px;
    color: black;
    text-align: center;
    padding-top: 14px;
    word-spacing: 10px;
    
}

.workspp{
    margin-left: 10%;
}

.workspacetext h1{
    padding-top: 24px;
    padding-bottom: 36px;
    font-size: 60px;
    font-weight: 600;
}
.workspacetext{
    font-size: 24px;
    padding-bottom: 100px;
}
/* Work space over */

#freelance h1{


    padding-bottom: 48px;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}
#freelance p{
    padding-bottom: 36px;
    margin-left: 100px;
    margin-right: 100px;
}

.grid{
    padding-top: 30px;
    height: 1100px;
    width: 100%;
    background: rgb(0, 0, 0);
}
.bord{
    background: #000;
    border: 10px;
    border-radius: 10%;
    border-color: white;
}


.card-text{
    font-size: 24px;
    word-spacing: 1px;
    line-height: 37px;
    padding-top: 10px;
    color: white;
}
.card-title2{
    color: #55C6E6;
    text-align: center;
    font-size:30px;
    font-weight: bolder;
}

.back{
    background: rgb(0, 0, 0);
    height: 435px;
    position: relative;
}

.para{
    height: 400px;
    width: 100%;
}
.back_2{
    background: #0D150B;
    height:1250px;
}
.back_3{
    background: #000000;
    height:680px;
}
.card-title_2{
    color: #55C6E6;
    text-align: center;
    font-size:30px;
    font-weight: bolder;
    padding-top: 34px;
}
.card-title_3{
    color: #55C6E6;
    text-align: center;
    font-size:30px;
    font-weight: bolder;
    padding-top: 30px;
}
.rightcard-text_2{
    line-height: 53px;
    font-size: 24px;
    color: white;
    padding-top: 10px;
    word-spacing: 10px;
    
}
.power{
    font-weight: 100;
    font-size: 32px;
    text-align: center;
}
.details{
    padding-left: 25%;
    padding-top: 14px;
    text-align: left;
}
@media (max-width:768px) {
    .details{
        padding-left: 16%;
    }   
}
@media (max-width:990px) {
    .card-text{
     font-size: 21px;   
    }
    
}
@media (max-width:768px) {
    .card-text{
     font-size: 18px;   
     line-height: 30px;
    }
    
}
.foot{
    height: 110px;
    text-align: center;
    color: rgb(0, 0, 0);
    opacity: .5;
    font-size:x-large;
    letter-spacing: 2px;
    word-spacing: 6px;
    line-height: 40px;
    padding-top: 22px;
  }
.text{
    text-align: center;
    color: white;
    opacity: .5;

}
 .icon{
     height: 70px;
     width: 70px;
     background: rgb(180, 92, 92);
    text-align: center;
    padding-top: 12px;
    font-size: 30px;
 }
 .icon:hover{
     background: red;
 }