body{
    background-image: url(/image/IMG_20211018_111931_145.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 1400px;
    background-color: black;
}
.h1{
    color: white;
}
.text{
    color: white;
    text-align: center;
    padding-top: 300px;
    background-color: black;
    height: 727px;
    width: 1422px;
    opacity: 70%;
}
.home{
    color: white;
    font-weight:100;
    font-size:larger;
    text-decoration: none;
}
.bgcolor{
    background: #2d89d4;
    width: 100%;

}
ul{
    padding-top: 5px;
    padding-bottom: 0px;
    margin: 0;
}
.mid{
    background: #000;
    height: 600px;
    width: 100%;
}
.left{
    padding-top: 150px;
}
.about{
    font-size: 36px;
    font-weight: 700;
    color: #2099FF;
}
.description{
    padding-top: 30px;
    color: white;
}